*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background: linear-gradient(135deg, black,rgb(46, 0, 46));
    
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.app{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.btn{
    height: 100px;
    width: 100px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
    /* box-shadow: 2px 2px #8A00C4; */
    font-size: 50px;
    color: #da2190;
    font-style: italic;
    font-weight: 1000;
    transition: transform 0.3s ease;
    /* transition: background-color 0.2s ease; */
}

.btn:hover {
    transform: scale(0.9);
}
.btn:active{
    background-color: white;
}

.reset{
    padding: 7px;
    margin-top: 15px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color:   #7F055F;
}

#winner{
    display: none;
        color: #7F055F;
    font-size: 40px;
    font-weight: 600;
}

h1{
        color: #7F055F;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 14px;
        animation: ease-in-out;
    
}

